* {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
.background-hero-container {
    background-image: url(assets/group-photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero {
    margin: auto;
    text-align: center;
    height: 100%;
}

.hero h1 {
    font-size: 50pt;
    font-weight: 650;
}

.hero h3 {
    font-size: 20pt;
    font-weight: 500;
}


.engage-container {
    position: absolute;
    bottom: 0;
}

.engage-container button {
    border: 1px solid white;
    background-color: transparent;
    padding: .5em 1em;
    margin: 1rem;
    margin-bottom: 2.5rem;
    font-weight: 500;
    transition: all .35s ease;
}

.engage-container button:hover {
    /* border-radius: .75em; */
    padding: .5em 5em;
    /* color: black; */
    background-color: rgba(255, 255, 255, 0.22);

}


.progress-bar {
    border: 2px solid white;
    border-radius: 1em;
    height: 30px;
    max-width: 800px;
    margin: auto;
    margin-top: 2rem;

}

.progress-bar span {
    height: 100%;
    width: 100%;
    background-color: #5639cc;
    width: 40%;
    transition: width 1s;
}

.make-room-for-hero {
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;

}

.make-room-for-hero h1 {
    font-size: 40pt;
}