body {
}
.background-hero-container {
    /* position: rel; */
    display: flex;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/group-photo.jpg) no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.background-hero-container h1 {
    top: 40%;
    position: absolute;
    font-size: 6em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 0;
    text-shadow: 0 0 10px #000;
}
.background-hero-container img {
    max-height: 100vh;
}

* {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


span {
    font-size: 13pt;
}

.make-room-for-hero {
    margin-top: 100vh;
}